body {
    background-image: url('Images/7135.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
h1 {
    font-family: Courier New, Courier, monospace;
    color: aliceblue;
}
#inpu {
    background-color: rgba(2, 122, 119, 0.62);
    color: aliceblue;
    font-family: Courier New, Courier, monospace;
}
h3 {
    font-family: Courier New, Courier, monospace;
    color: aliceblue;
}
#btn {
    background-color: rgba(2, 122, 119, 0.62);
    color: aliceblue;
}
#tab {
    background-color: rgba(41, 157, 245, 0.32);
    color: aliceblue;
}
#op {
    background-color: rgba(41, 157, 245, 0.32);
    color: aliceblue;
    font-family: Courier New, Courier, monospace;
    font-size:14px;
}