@model List<FunnyV1.Models.Human>

@{
    ViewBag.Title = "Transfer";

}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />

<form method="post" action="">
    <div style="width:1200px;">
        <div style="float: left; width: 300px">
            <select id="op" class="form-control" id="humanoid" name="humanoid" style="float: right; width: 300px;font-size:14px">
                @foreach (var human in Model)
                {
                    if (human.SpaceShipId != null)
                    {
                        <option value=@human.Id>@human.FirstName - @human.SecondName</option>
                    }
                }
            </select>
        </div>
        <div style="float: right; width: 300px">
            <select id="op" class="form-control" id="outputShip" name="outputShip" style="font-size:14px" >
                @foreach (var ship in ViewBag.fleet)
                {
                    <option value=@ship.Id>@ship.Name - @ship.ShipTypeType</option>
                }
            </select>
        </div>
    </div>
     <div>
         <input id="btn" type="submit" value="Transfer" class="btn btn-danger btn-sm" style="margin-left: 200px; padding: 50px 50px; font-size:20px" />
     </div>
</form>